/* colors */
:root {
	--neutral-50: #fafafa;
	--neutral-100: #f5f5f5;
	--neutral-200: #e5e5e5;
	--neutral-300: #d4d4d4;
	--neutral-400: #a3a3a3;
	--neutral-500: #737373;
	--neutral-600: #525252;
	--neutral-700: #404040;
	--neutral-800: #262626;
	--neutral-900: #171717;
}

/* utility classes */
.grid {
	display: grid;
}

.flex {
	display: flex;
	align-items: center;
}

/* home */
.hero {
	background-color: var(--neutral-800);
	color: var(--neutral-200);
	padding: 2rem;

	flex-direction: column;
	gap: 1rem;
}

.cta {
	margin-top: 1rem;
	margin-bottom: .5rem;
	padding: .5rem 1rem;
	background-color: #7f1d1d;
	color: inherit;
	font-weight: bold;
	border: none;
	border-radius: .5rem;
}

.selling-point {
	color: var(--neutral-50);
}

.selling-point>div {
	padding: 1rem;

	flex-direction: column;
	align-items: start;
	gap: 1rem;
}

.selling-point>img {
	aspect-ratio: 16 / 9;
	background-color: var(--neutral-700);
	object-fit: cover;
	max-width: clamp(100px, 50vw, 500px);
}

/* footer */
footer {
	background-color: var(--neutral-800);
	color: var(--neutral-400);
	position: fixed;
	bottom: 0;
	width: 100%;

	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

footer>p {
	text-align: center;

	grid-column: 2 / 3;
}

footer>ul {
	list-style-type: none;
	padding-left: 2rem;

	justify-content: start;
	gap: 1rem;
}

footer>ul a {
	color: inherit;
	text-decoration: none;
}

/* header */
header {
	background-color: transparent;
	color: var(--neutral-50);
	padding-inline: 2rem;
	width: 100%;

	justify-content: space-between;
}

header h2,
header li {
	cursor: pointer;
}

header>ul {
	padding: 0;
	list-style-type: none;

	gap: 1rem;
}

/* menu */
#menu {
	padding: 2rem;
	padding-top: 1rem;

	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.5em;
}

.menu-item {
	background-color: var(--neutral-800);
	color: var(--neutral-50);
	max-height: 400px;
	border-radius: .5rem;
	overflow: hidden;
}

.menu-item>img {
	aspect-ratio: 16/9;
	background-color: var(--neutral-700);
	object-fit: cover;
}

.menu-item>div {
	padding: .5rem 1rem;
}

.menu-item>div>span {
	margin-block: .5rem;

	justify-content: space-between;
}

.menu-item h4.chip {
	margin-left: .5rem;
	padding-inline: .5rem;
	background-color: var(--neutral-700);
	border-radius: 1rem;
}

.menu-item p {
	--max-lines: 3;
	--line-height: 1.5;

	max-height: calc(var(--max-lines) * var(--line-height) * 1em);
	line-height: var(--line-height);
	overflow: hidden;
}